.cell {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.3rem;

    background-color: white;
    color: #444;
}

.cell[readonly] {
    color: black;
}

.row:nth-child(-n + 3), .row:nth-child(n + 7) {
    :nth-child(-n + 3), :nth-child(n + 7) {
        background-color: rgb(136, 223, 230);
        
    }
}

.row:nth-child(n + 4):nth-child(-n + 6) {
    :nth-child(n + 4):nth-child(-n + 6) {
        background-color: rgb(136, 223, 230);
    }
}